

h1 {
  font-family: "Hoefler Text";
}

h2 {
  font-family: "Hoefler Text";
}

p {
  font-family: "Hoefler Text";
  line-height: 30px;
  display: inline-block;
}

#box {
  margin: 20px auto;
  width: 750px;
}

body {
    background-color: #FFFFF0;
}

span {
  color: #FFD700;
}
