body {
    background-color: #FFFFF0;
    font-family: 'Cutive Mono', monospace;
}

h1 {
  font-weight: bold;
  margin: 50px auto;
  font-size: 32px
}

h2 {
  font-size: 20px
}

p {
  line-height: 30px;
  font-size: 18px;
}

#box {
  margin: 20px auto;
  width: 750px;
}

textarea {
  height: 100%;
  width: 50%;
  font-size: 18px;
  font-family: 'Cutive Mono', monospace;
  display: inline-block;
  margin: 20px 20px;
}

select {
  height: 100%;
  width: 25%;
  font-size: 18px;
  font-family: 'Cutive Mono', monospace;
}

input {
    height: 100%;
    width: 25%;
    font-size: 18px;
    font-family: 'Cutive Mono', monospace;
  }
